<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section style="background-color: #ffff; color: black">
      <div>
        <h1>Reinitialisez votre mot de passe</h1>
        <p>
          Reinitialisez votre mot de passe en cliquant sur le lien ci dessous !
        </p>
        <a href="http://localhost:3000/user/password-reset" class="test"
          >C'est parti</a
        >
      </div>
    </section>
    <style>
      section {
        display: flex;
        justify-content: center;
        height: 30%;
        width: 80%;
        margin: auto;
        padding: 3rem;
      }
      button {
        width: 8rem;
      }
    </style>
  </body>
</html>
